<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1>Times</h1>
=======
<h1>Teams</h1>
>>>>>>> samiry

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Nome</th>
=======
      <th>Name</th>
>>>>>>> samiry
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
<<<<<<< HEAD
        <td><%= link_to 'Mostrar time', team %></td>
        <td><%= link_to 'Editar Time', edit_team_path(team) %></td>
        <td><%= link_to 'Excluir time', team, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
=======
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> samiry
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
