<section class="new-time-criado">

  <div class="new-time-criado-container">
    <p>
      <strong>Time:</strong>
      <br>
      <%= @team.name %>
    </p>

    <div class="nome-membros-time">
      <% @team.users.each do |user| %>
        <p><%= link_to user.name, user %></p>
        <td><%= image_tag user.avatar.thumb.url if !user.avatar.nil? %></td>
        <br>
      <% end %>
    </div>

    <%= link_to image_tag("edit_icon.png", alt:"Editar"), edit_team_path(@team) %>
  </div>

  <div class="new-time-criado-voltar">
    <%= link_to 'Back', teams_path %>
  </div>

</div>
