<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<% @team.users.each do |user| %>
  <p><%= link_to user.name, user %></p>
  <td><%= image_tag user.avatar.thumb.url if !user.avatar.nil? %></td>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
