<%= form_with(model: user, local: true, multipart: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <section class="cadastro">
    <div class="field-avatar">
    <label for="avatar", class="botao" >Selecionar imagem...</label>
     <%= form.file_field :avatar, id: :avatar %>
      <div class="file-name">
        <span id='file-name'>Nenhuma Imagem Selecionada</span>
      </div>
    </div>
    
    <div class="cadastro-container">
      <div class="users-new">
        <div class="field">
            <%= form.text_field :name, :class => "form-cadastro", placeholder:"Nome", id: :user_name %>
        </div>

        <div class="field">
          <%= form.text_field :email, :class => "form-cadastro", placeholder:"E-mail", id: :user_email %>
        </div>


        <% if logged_in? %>
          <% if current_user.admin %>
            <div class = "diretoria-form-new_user">
              <%= form.label "Diretoria" %>
              <%= select("", "direction_id", Direction.all.collect {|direction| [ direction.name,
                direction.id ] }, {include_blank: "Diretoria"}) %>
            </div>
            <div class = "cargo-form-new_user">
              <%= form.label "Cargo" %>
              <%= select("", "occupation_id", Occupation.all.collect {|occupation| [ occupation.name_occu,
                  occupation.id ] }, {include_blank: "Cargo"}) %>
            </div>
          <% end %>
        <% end %>


        <div class="field">
          <%= form.password_field :password, :class => "form-cadastro", placeholder:"Senha", id: :usuario_password %>
        </div>

        <div class="field">
          <%= form.password_field :password_confirmation, :class => "form-cadastro", placeholder:"Confirme a senha", id: :usuario_password_confirmation %>
        </div>

        <div class="botoes users-new">
          <% if logged_in? %>
            <%= form.submit "Editar Conta"%>
          <% else logged_in? %>
            <%= form.submit "Criar Conta"%>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
