<section class="index-users">
  <p id="notice"><%= notice %></p>

  <h1>Membros</h1>

  <table>
    <div class="users-bar">
      <thead class="users-bar-container">
        <tr>
          <th class="user-bar-foto">Foto</th>
          <th class="user-bar-nomemail">Nome/E-mail</th>
          <th class="user-bar-cargos">Cargos</th>
          <th class="user-bar-times">Diretoria</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    </div>

    <tbody>
        <% @users.each do |user| %>

          <tr class="user-body">
            <td class="user-foto">
              <%= image_tag user.avatar.thumb.url if !user.avatar.nil? %>
            </td>
            <td class="nome-email">
              <div class="user-body-nomemail">
                <div class="user-nome">
                  <%= link_to user.name, user %>
                </div>
                <%= user.email %>
              </div>
            </td>

            <td class="user-cargo">
              <% user.occupations.each do |occupation| %>
              <%= occupation.name_occu %>
              <p>-</p>
              <% end %>
            </td>

            <td class="user-times">esperando ter algo aqui</td>

            <td class="user-button-edit"><%= link_to image_tag("edit_icon.png", alt:"Editar"), edit_user_path(user) %></td>
            <td class="user-button-delete"><%= link_to image_tag("delete-icon.png", alt:"Editar"), user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

  <br>
  <div class="button-new-user">
    <%= link_to 'Novo Usuário', new_user_path %>
  </div>
</section>
