

    <section class="perfil">
      <div class="perfil-container">
        <div class="perfil-foto">
          <%= image_tag @user.avatar.thumb.url, alt: "Foto de Perfil", class: "foto" if !@user.avatar.nil? unless @user.avatar.blank?%>
          <%= button_to "Editar", edit_user_path(@user), :class => "perfil-btn-editar blue-btn", :method => :get %>
          <button type="submit" class = "perfil-brn">Permissões</button>
        </div>
        <div class="perfil-dados">
          <div class="perfil-nome">
            <h2><%= @user.name %></h2>
          </div>
          <div class="perfil-email">
            <div class="email-container">
              <h3><%= @user.email %></h3>
            </div>
          </div>
          <div class="cargos">
            <div class="cargos-container">
              <% @user.occupations.each do |occupation| %>
                <p><%= occupation.name_occu %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="perfil-infos">
          <div class="projetos">
            <a href="#">Projetos</a>
          </div>
          <div class="rendimento">
            <a href="#">Rendimento</a>
          </div>
        </div>
      </div>
    </section>
    
    <%= button_to "Voltar", users_path, :class => "btn-voltar perfil-btn", :method => :get %>
