<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Cargo(s):</strong>
  <% @user.occupations.each do |occupation| %>

    <p><%= occupation.name_occu %></p>
  <% end %>
</p>

<p>
  
  <%= image_tag @user.avatar.thumb.url if !@user.avatar.nil? %>
  
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
