

<p>
  <strong>Projeto:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @project.data_correta %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @project.price %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @project.content %>
</p>
<p>
  <strong>Gerente:</strong>
  <%= @project.user_manager.name %>
</p>
<p>
  <strong>PMO:</strong>
  <%= @project.user_pmo.name %>
</p>
  <strong>Time(s) alocado(s):</strong>
    <td>
      <% @project.teams.each do |team| %>
        <%= link_to team.name, team_path %>
      <% end %>
    </td>
    <br>
    <strong>Tarefas/Tarefa realizada?:</strong>
      <td>
        <% @project.assignmentprojs.each do |assignmentproj| %>
          <%= assignmentproj.name %>/<%= link_to assignmentproj.realized,
            edit_assignmentproj_path(assignmentproj) %>
          <br>
        <% end %>
      </td>
      <br>

    <td><blockquote class="trello-board-compact">
      <a href=<%= @project.trello %>>Trello Board</a>
      </blockquote>
  <script src="https://p.trellocdn.com/embed.min.js"></script></td>
<br>
<%= form_for @assignmentproj, url: form_criar_tarefa_path, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name, id: :assignmentproj_name %>
<%= form.label "Feito?" %>
<%= form.check_box :realized, class: "check_box"%>
<%= hidden_field_tag :project_id, @project.id %>
<%= form.submit "Adicionar tarefa", class:"add_task" %>
<% end %>

<%= link_to 'Editar Projeto', edit_project_path(@project) %> |
<%= link_to 'Todos os projetos', projects_path %>
