<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @project.data_correta %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @project.price %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @project.content %>
</p>
  <strong>Time(s) alocado(s):</strong>
    <td>
      <% @project.teams.each do |team| %>
        <%= link_to team.name, team_path %>
      <% end %>
    </td>
    <td><blockquote class="trello-board-compact">
      <a href=<%= @project.trello %>>Trello Board</a>
      </blockquote>
   <script src="https://p.trellocdn.com/embed.min.js"></script></td>
<br>

<%= link_to 'Editar Projeto', edit_project_path(@project) %> |
<%= link_to 'Todos os projetos', projects_path %>
