<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/avisos" %>
    <% if logged_in? %>
	<p>
	    Olá <%= current_user.name %>!
      <%= link_to "Membros", users_path %>
      <%= link_to "Diretorias", directions_path %>
      <%= link_to "Projetos", projects_path %>
	    <%= link_to "Sair", logout_path, method: :delete %>
  </p>
	<% end %>
    <%= yield %>
  </body>
</html>
